body {
    margin: 0;
    font-family: 'Dosis', sans-serif;
    background: rgb(237,237,237);
    background: radial-gradient(circle, rgba(237,237,237,1) 0%, rgba(223,223,223,1) 100%); 
}

#navBar {
    background-color: rgb(255, 255, 255);
    height: 50px;
    box-shadow: 1px 1px 10px 1px #acacac;
}
#cadaware {
    color: rgb(0, 0, 0);
    width: 100%;
    line-height: 50px;
    vertical-align: middle;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
#pageTitleContainer {
    width: 100%;
    margin: auto;
    text-align: center;
}
#pageTitle {
    font-size: 40px;
    font-weight: normal;
    text-decoration: underline;
}

#inputContainer {
    width: 25%;
    height: 450px;
    margin: auto;
    text-align: center;
    margin-top: 25px;
    padding: 20px;
    background-color:rgb(255, 255, 255);
    border-radius: 25px;
}

#titleInput, #authorInput, #contentInput {
    font-family: 'Dosis', sans-serif;
    width: 95%;
    height: 30px;
    margin-top: 15px;
    border: 1px solid rgb(206, 223, 255);
    border-radius: 15px;
    font-size: 17px;
    font-weight: normal;
    color: rgb(58, 58, 58);
    text-indent: 15px;
    transition: 0.3s;
}


#titleInput:focus, #authorInput:focus, #contentInput:focus { 
    outline: none !important;
    border-color: #ffd3aa;
    transition: 0.3s;
}
textarea {
    resize: none;
}
#contentInput {
    height: 250px;
    text-align: left;
    text-indent: 15px;
    font-family: 'Dosis', sans-serif;
}
#submitButton {
    margin-top: 25px;
    width: 80%;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(206, 223, 255);
    color: rgb(58, 58, 58);
    border: none;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
    transition: 0.4s;
}
#submitButton:hover {
    background-color: #ffd3aa;
    transition: 0.4s;
    color: rgb(31, 31, 31);
}

#allBlogsContainer{
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

#allBlogsTitle{
    font-weight: normal;
    text-decoration: underline;
}

#blogPostContainer {
    background-color: white;
    width: 45%;
    margin: auto;
    margin-top: 25px;
    padding: 10px;
    text-indent: 20px;
    border-radius: 25px;
}
#blogPostTitle{
    text-decoration: underline;
    font-weight: bold;
    font-size: 30px;
}
#blogPostAuthor {
    font-weight: bold;
}

#errorMessage {
    color: #fc3d03;
    font-size: 20px;
    font-weight: bold;
}